.post {
  margin: 20px 0;
  width: 100%;
}
.postContainer {
  padding: 15px;
  box-shadow: 1px 7px 15px 1px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 1px 7px 15px 1px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 1px 7px 15px 1px rgba(0, 0, 0, 0.6);
  border-radius: 15px;
}

.postTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.postTop_left {
  display: flex;
  align-items: center;
}

.postProfileImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}

.postUserName {
  font-size: 15px;
  font-weight: 500;
  margin-right: 15px;
}

.postTime {
  font-size: 12px;
  font-weight: 400;
}

.postMessage {
  margin-bottom: 15px;
}

.postCenterImg {
  width: 100%;
  max-height: 500px;
  object-fit: contain;
  margin-bottom: 15px;
}

.postBottom {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  margin-bottom: 10px;
}

.postBottomItem {
  display: flex;
  align-items: center;
}

.postBottomIcon {
  font-size: 15px;
  margin-right: 10px;
}
