.profileContainer {
  display: flex;
}
.profileRight {
  flex: 9;
}

.profileBottom {
  display: flex;
}

.profileTop {
  margin-top: 15px;
  margin-right: 15px;
}

.profileBottom {
  margin-top: -175px;
}

.profileCoverImg {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 15px;
}

.profileDisplayPic {
  width: 200px;
  height: 200px;
  border-radius: 15px;
  position: relative;
  border: 4px solid white;
  top: -180px;
  left: 20px;
  object-fit: cover;
}
