.main {
  display: flex;
}

.profile {
  width: 100%;
  height: 100vh;
  background: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile__home {
  width: 80%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(100px);
}

.profile__cover {
  width: 100%;
  height: 100%;
  padding: 5px;
  border: 4px solid white;
  max-width: 700px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile__info {
  display: flex;
  flex-direction: column;
}

.profile__title input {
  background: none;
  border: none;
  border-width: fit-content;
  color: white;

  font-size: 40px;
  text-align: center;
}

.profile__info .profile__title {
  font-weight: 700;
  font-size: 30px;
}
