.login {
  width: 100%;
  min-height: 100vh;
  position: relative;
  /* background: url("https://wallpapercave.com/wp/wp2686809.jpg"); */
  /* backdrop-filter: blur(10px); */
}

.login__backgroundImage {
  /* background: url("https://www.champhunt.com/assets/img/bodybg.jpg") 50% 50%
    no-repeat; */
  background: linear-gradient(
      129deg,
      /* rgba(242, 47, 70, 0.6),
      #a75bc5f5,
      rgba(99, 50, 235, 0.8) */
        rgba(49, 49, 49, 0.514),
      rgba(1, 1, 17, 0.6)
    ),
    /* url("../../images/stadium.jpeg") 50% 50% no-repeat; */
      url("https://www.champhunt.com/assets/img/bodybg.jpg") 50% 50% no-repeat;
  min-height: 100vh;
  background-size: 100%;
  width: 100%;
  filter: blur(4px);
  margin: 0;
  padding: 0;
}

.register__backgroundImage {
  /* background: url("https://image.freepik.com/free-vector/abstract-geometric-background-with-purple-blue-gradient-circles_7433-107.jpg"); */
  /* background: linear-gradient(to right, #004e92, #a75bc5fb); */
  background: linear-gradient(
      129deg,
      /* rgba(242, 47, 70, 0.6),
      #a75bc5f5,
      rgba(99, 50, 235, 0.8) */
        rgba(49, 49, 49, 0.4),
      rgba(1, 1, 17, 0.6)
    ),
    url("../../images/stadium.jpeg") 50% 50% no-repeat;
  min-height: 100vh;
  filter: blur(4px);
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
}

/* https://image.freepik.com/free-vector/abstract-geometric-background-with-purple-blue-gradient-circles_7433-107.jpg */
.login__form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  padding: 40px;
  min-width: 300px;
}

.login__form > div,
.login__form > h1 {
  /* color: white; */
  margin-top: 20px;
  color: linear-gradient(to right, #004e92, #a75bc5fb);
}

/* .inputSubmit {
  min-width: 120px;
  border-radius: 100px;
  margin-top: 20px;
  height: 50px;
  border: none;
  background: blueviolet;
  color: white;
  font-size: 16px;
  outline: none;
  cursor: pointer;
} */

.login__social > svg {
  padding: 10px;
  color: white;
}

.login__social__google {
  width: 40px;
  height: 40px;
}

.login__social > svg :hover {
  cursor: pointer;
  color: "#5751ac";
}

.login__signUp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login__signUp > label {
  margin-bottom: 5px;
}
