.canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: url("https://t3.ftcdn.net/jpg/03/29/01/92/360_F_329019217_YbZhlVLTpF3UnTxu8Hl9YSz7lpkQftm3.jpg"),
    linear-gradient(145deg, #3b6064, rgba(0, 208, 186, 0.9));

  background-blend-mode: multiply;
  background-position: left;
  background-size: 100%;
  background-repeat: no-repeat;
}

.canvas__image {
  position: relative;
  top: -50px;
  width: 250px;
  height: 250px;
  background: url("https://image.freepik.com/free-vector/green-cricket-sports-background-with-illustration-players-golden-trophy-cup_1302-5494.jpg");
}

.canvas__glass {
  width: 60%;
  height: 60%;
  min-width: 350px;
  background: linear-gradient(145deg, #fcfcfc54, rgba(237, 247, 246, 0.3));

  border-left: 1px solid rgb(233, 233, 233);
  border-top: 1px solid white;

  mix-blend-mode: lighten;
  border-radius: 30px;
  backdrop-filter: blur(5px);
  padding: 10px;
  box-shadow: 5px 5px 5px rgba(233, 233, 233, 0.678);
  /* border: 1px solid #080808; */
}

.canvas__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: flex-end; */
}

.canvas__form > div {
  margin-bottom: 25px;
}

.form__buttons {
  display: flex;
}

.mobileNo {
  display: flex;
}

.canvas__ball {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(0deg, rgb(56, 100, 93), rgba(35, 53, 82, 0.979)),
    url("../../images/stadium_2.jpg");
  /* #1c1c2554; */
  background-blend-mode: multiply;

  /* before */
}

/* .canvas__ball::before {
  content: "";
  position: absolute;
  bottom: -40%; 
  left: 70%;
  width: 400px;
  height: 300px;
  background: url("../../images/ball.png");
  background-size: contain;
  background-repeat: no-repeat;
} */

.canvas__bat {
  content: "";
  position: absolute;
  bottom: 5%;
  left: -40%;
  width: 600px;
  height: 600px;
  background: url("../../images/player.png");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

@media (max-width: 700px) {
  .canvas__ball::before {
    display: none;
  }

  .card {
    left: -15%;
  }

  .canvas__bat {
    z-index: 0;
    left: -50%;
  }
}
