.addPost {
  background: white;
}

.addPost__postDetails {
  display: flex;
}

.addPost__postDetails > input {
  margin-left: 20px;
  border-radius: 10px;
  background: lightgray;
  outline: none;
  border: none;
  min-width: 300px;
}

.addPost__postDetails > input::placeholder {
  margin-left: 10px;
}
